.gitignore
.git/**
.vscode/**
.github/**
src/**
scripts/**
**/*.test.ts
tsconfig.json
docs/RELEASING.md
docs/RELEASE_NOTES_*.md
resources/icon.svg
resources/logo.svg
dist/**/*.map
node_modules/**
node_modules/.cache/**
*.vsix
pnpm-lock.yaml
pnpm-workspace.yaml
SHA256SUMS
